<div class="container bd-dark">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-dark"
  >
    <div class="col-md-4 d-flex align-items-center">
      <a class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1" href="/">
        <img
          src="./assets/icon.svg"
          alt="Ícone de bola de futebol"
          width="24"
          height="24"
        />
        <span class="ms-3 text-muted">Pelada dos Amigos </span>
      </a>
    </div>
    <div class="display-flex text-center text-light">
        © 2022 Copyright:
    <a class="navbar-brand text-light fs-6" href="https://github.com/RodrigoSCarvalho" target="_blank">
        
        <i class='bx bxl-github xs' style='color:#ffffff'></i>
      RodrigoSCarvalho
    </a>
</div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a class="text-muted" href="https://github.com/RodrigoSCarvalho" target="_blank">
                <i class='bx bxl-github bx-sm' style='color:#ffffff'></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-muted" href="https://www.linkedin.com/in/rodriigo-carvalho/" target="_blank">
                <i class='bx bxl-linkedin-square bx-sm' style='color:#ffffff'  ></i>
            </a>
        </li>
    </ul>
  </footer>
</div>
