body{
    height: 100%;
    background-image: url("../../assets/home_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.grid{
    background-color: rgba(0, 0, 0, 0.3) !important;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    font-weight: 600;
}

.centralizar{
    display: flex;
    justify-content: center;
}


.table-wrap {
    position: relative;
}

th, tr, td{
    color: #fff;
}

.icone:hover{
    cursor: pointer; 
}

/* tr:first-child{ border-bottom: 1px solid #fff !important;} */